.mapa-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mapa-ratio {
  flex-grow: 1;
  width: 100%;
  border-radius: 1rem !important;
}

.mapa-ratio iframe {
  display: block;
}

@media (max-width: 991.98px) {
  .mapa-ratio {
    min-height: 320px;
  }
}