 <div class="">
        <div class="position-relative w-100 mb-3">
          <h1 class="fw-bold text-primary p-4 bg-white rounded-4 shadow-lg display-5">
            Bienvenido al <span class="text-success">Centro Médico Los Sables</span>
          </h1>
        </div>
        <p class="lead text-muted position-relative z-2 mb-4 fs-5">
          Atención médica con <span class="fw-semibold text-primary">calidad humana</span>. Confía tu salud en manos expertas y modernas.
        </p>
        <a href="#contacto" class="btn btn-primary btn-lg mt-2 px-5 shadow-lg rounded-pill">
          <i class="bi bi-calendar-check me-2"></i> Agendar cita
        </a>
      </div>
