<section id="contacto" class="py-5 bg-light">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="h1 fw-bold text-dark mb-3">Contáctanos</h2>
      <p class="fs-5 text-secondary mx-auto" style="max-width: 720px;">
        Estamos aquí para atenderte. Agenda tu cita o contáctanos para más información.
      </p>
    </div>

    <div class="row g-4">
      <!-- Mapa -->
      @defer {
        <div class="col-lg-8">
          <div class="bg-gradient-federal rounded-4 shadow p-1 p-md-2">
            <h3 class="h4 fw-bold text-white mb-1 rounded-b-full">
              <i class="bi bi-geo-alt-fill me-2"></i>¿Dónde estamos ubicados?
            </h3>
            <app-mapa></app-mapa>

          </div>
        </div>
      }


      <!-- Info -->
      <div class="col-lg-4">
        <div class="d-flex flex-column gap-3">
          <div class="bg-white rounded-4 shadow p-3 d-flex align-items-start">
            <div class="bg-primary text-white rounded-circle p-2 me-3">
              <i class="bi bi-telephone-fill fs-5"></i>
            </div>
            <div>
              <h5 class="fw-semibold text-dark mb-1">Teléfono</h5>
              <a href="tel:+50278403734" class="text-primary text-decoration-none">+502 7840 3734</a> <br>
                <a href="https://wa.me/50234826151" target="_blank" class="text-success text-decoration-none">
                <i class="bi bi-whatsapp me-1"></i>+502 3482 6151
                </a>
            </div>
          </div>

          <div class="bg-white rounded-4 shadow p-3 d-flex align-items-start">
            <div class="bg-success text-white rounded-circle p-2 me-3">
              <i class="bi bi-envelope-fill fs-5"></i>
            </div>
            <div>
              <h5 class="fw-semibold text-dark mb-1">Email</h5>
              <a href="mailto:info&#64;clinicalossabes.com" class="text-success">{{mail}}</a>
            </div>
          </div>

          <div class="bg-white rounded-4 shadow p-3 d-flex align-items-start">
            <div class="bg-info text-white rounded-circle p-2 me-3">
              <i class="bi bi-geo-alt-fill fs-5"></i>
            </div>
            <div>
              <h5 class="fw-semibold text-dark mb-1">Dirección</h5>
              <p class="text-secondary mb-0">1ra calle 6-51 zona 4<br /> Tecpán Guatemala, Chimaltenango</p>
            </div>
          </div>

          <div class="bg-white rounded-4 shadow p-3 d-flex align-items-start">
            <div class="bg-warning text-white rounded-circle p-2 me-3">
              <i class="bi bi-clock-fill fs-5"></i>
            </div>
            <div>
              <h5 class="fw-semibold text-dark mb-1">Horarios</h5>
              <p class="text-secondary mb-0">
                Lun - Vie: 8:30 - 18:00<br />
                Sáb: 8:30 - 12:00<br />
                Dom: Emergencias 24/7
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
